.feature-section {
  position: relative;
}

.feature-section .inner-container {
  position: relative;
  display: block;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  overflow: hidden;
  padding: 50px 80px 50px 80px;
  overflow: hidden;
  margin-bottom: -110px;
  z-index: 1;
}

.feature-block-one .inner-box {
  position: relative;
  display: block;
}
.feature-block-one {
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10px;
}

.feature-block-one .inner-box .icon-box {
  position: relative;
  display: block;
  font-size: 60px;
  color: #1549a0;
  margin-bottom: 25px;
}

.feature-block-one .inner-box h3 {
  display: block;
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 14px;
}
.feature-block-one .inner-box p {
  font-size: 13px;
}
.feature-block-one .inner-box h3 a {
  display: inline-block;
  color: var(--main-color);
}

.feature-block-one .inner-box h3 a:hover {
  color: var(--secondary-color);
}

.feature-section .inner-container .shape {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-section.alternat-2 .inner-container {
  margin-bottom: 0px;
  margin-top: -200px;
}

.feature-section.alternat-3 .inner-container {
  background: var(--main-color);
  margin-bottom: 0px;
  margin-top: -215px;
}

.feature-section.alternat-3 .feature-block-one .inner-box .icon-box {
  color: var(--white-color);
}

.feature-section.alternat-3 .feature-block-one .inner-box h3 a,
.feature-section.alternat-3 .feature-block-one .inner-box p {
  color: var(--white-color);
}

.feature-section.alternat-3 .feature-block-one .inner-box h3 a:hover {
  text-decoration: underline;
}

.feature-section .shape-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 271px;
  height: 196px;
  background-repeat: no-repeat;
}

/** feature-style-two **/

.feature-style-two {
  position: relative;
}

.feature-block-two {
  margin-top: 41px;
}

.feature-block-two .inner-box {
  position: relative;
  display: block;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgba(219, 233, 253, 1) inset;
  border-radius: 25px;
  padding: 40px 30px 40px 30px;
  border: 2px solid #1549a0;
  z-index: 1;
}

.feature-block-two .inner-box:before {
  position: absolute;
  content: "";
  background: var(--main-color);
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  z-index: -1;
  border-radius: 20px;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover:before {
  height: 100%;
}

.feature-block-two .inner-box .icon-box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 60px;
  color: var(--main-color);
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(180, 196, 217, 0.4);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: -41px;
  margin-bottom: 40px;
}

.feature-block-two .inner-box .icon-box:before {
  position: absolute;
  content: "";
  background: rgba(180, 196, 217, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  transform: scale(0, 0);
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-two .inner-box:hover .icon-box:before {
  transform: scale(1, 1);
}

.feature-block-two .inner-box h3 {
  display: block;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}
.feature-block-two .inner-box .offer-name {
  font-size: 22px;
  font-weight: 700;
  height: 120px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-block-two .inner-box .plan-price {
  font-size: 35px;
  font-weight: 500;
  color: var(--main-color);
  transition: all 500ms ease;
}
.pricing-wa-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}
.pricing-line {
  padding-bottom: 15px;
  margin-bottom: 15px;
  /* border-bottom: 1px solid #dbe9fd; */
}
.pricing-wa-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  text-transform: capitalize;
  font-family: var(--heebo);
  color: var(--white-color) !important;
  background: var(--secondary-color);
  z-index: 1;
  transition: all 500ms ease;
  border-radius: 10px;
}

.pricing-wa-btn span {
  position: relative;
  padding-right: 20px;
}

.pricing-wa-btn span:before {
  position: absolute;
  content: "\e908";
  font-family: "icomoon";
  font-size: 14px;
  top: 0px;
  right: 0px;
}

.pricing-wa-btn :hover {
  box-shadow: inset 0 0 0 2em var(--main-color);
}

.feature-block-two .inner-box h3 a {
  display: inline-block;
  color: var(--main-color);
}

/* .feature-block-two .inner-box h3 a:hover{
  text-decoration: underline;
} */

.feature-block-two .inner-box:hover h3 a,
.feature-block-two .inner-box:hover p,
.feature-block-two .inner-box:hover .plan-price {
  color: var(--white-color);
}
.feature-block-two .inner-box:hover .pricing-wa-btn {
  background-color: var(--secondary-color);
  color: white !important;
}
.feature-block-two .inner-box p {
  transition: all 500ms ease;
}

.feature-style-two .pattern-layer {
  position: absolute;
  top: -90px;
  right: 0px;
  width: 930px;
  height: 881px;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-section.about-page .inner-container {
  margin: 0px;
}
